.box21{
	margin: 0%;
width: 80%;
height:auto;
background-color: #fff; 
}


.box22{
margin: 0%;
width: 33%;
height:auto;
background-color: #000; 
float: left;
}

.box23{
margin: 0%;
width: 33%;
height:auto;
float:right;
}


.box24{
margin: 0%;
width: 33%;
height:auto;
background:; 

}

.box25{
margin-top: 10%;
margin-bottom: 10%;
width: 33%;
height:auto;

}

.box26{
margin: 0%;
width: 80%;
height:auto;

}



.box30{
margin: 0%;
width: 60%;
height:auto;
background-color: #fff; 
}

.box31{
margin: 0%;
width: 30%;
font-family: arial;
    font-size:0.5em;
    color: #fff;
    text-align: center;
height:auto;
float:right;
background-color: #000;
padding: 1%;

}
.box32{
margin: 0%;
width: 25%;
font-family: arial;
    font-size:0.5em;
    color: #fff;
    text-align: center;
height:auto;
float:;
background-color: #000;
padding: 1%;

}

.box33{
	font-family: arial;
    font-size:0.5em;
    color: #fff;
    text-align: center;
margin: 0%;
width: 30%;
height:auto;
float:left;
background-color:#000;
padding: 1%;



}


.box34{
margin: 0%;
width: 70%;
height:auto;
float:left;
color: #fff;
font-family: arial;
font-size: 0.5em;
background-color: #333;

}
.box35{
	color: #fff;
font-family: arial;
font-size: 0.6em;
text-align: center;
 width: 70%; 
  height: 0; 
  background-color: #000;
  padding: 2.5%;


}




.box40{
margin-top: 2%;
width: 67%;
height:auto;
background-color: #fff; 
}

.box41{
margin:0;
width: 50%;
height:auto;
float: left;
}

.box42{
margin:0;
width: 50%;
height:auto;
float: right;
}


.box43{
margin:0;
width: 99%;
height:auto;
float:;
}


.box44{
margin:0;
width: 20%;
height:auto;
float:;
background-color: #000;
}


.box50{
margin-top: 40%;
width: 60%;
height:auto; 
color: #000;
font-family:Verdana, sans-serif;
font-size: 0.5em;
text-align: center;
text-decoration: none;
}

.box51{
margin-top: 4%;
width: 60%;
height:auto; 
color: #000;
font-family:Verdana, sans-serif;
font-size: 0.5em;
text-align: center;
text-decoration: none;
}


.box60{
margin-top: 2%;
width: 80%;
height:auto;
background-color: #fff; 
}

.box61{
margin: 0%;
width: 40%;
height:auto;
float:right;
}
.box62{
margin: 0%;
width: 20%;
height:auto;
float:;
}

.box63{
margin: 0%;
width: 40%;
height:auto;
float:left;
}

.box64{
margin: 0%;
width: 50%;
height:auto;
float:left;
}

.box65{
margin: 0%;
width: 50%;
height:auto;
float:right;
}

button {
  color: #FFF;
  background-color: #000;
 font-size: 0.7em;
  border: 0;
  padding: 2%;
}
button:hover {
  color: #FFF;
  background-color: #333;
  font-weight: ;
  border: 0;
  padding: 2%;
}
h1{

color: #000;
font-family:arial;
font-size: 0.6em;
text-align: center;
text-decoration: none;

}


  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid #fff;
  border-right: 1em solid #fff;