
.box79{
width: 80%;
height: auto;
  background:url(http://miacucina.com/mia/wp-content/uploads/2015/02/Closetsfurniture.jpg); ) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: initial;
 max-height: initial;
 padding-top: 4%;
  padding-bottom: 4%;
 background-size: contain;
 background-position: center;
}
.box80{
width: 80%;
height:auto;
 }

}
.box81{
width: 80%;
height:auto;
background-color: #555; 
}


.box82{
width: 30%;
height: auto;
float: left;
padding-bottom: 1%;
padding-top: 5%;
color: #fff;
font-family:Verdana, sans-serif;
font-size: 1vw;
text-align: center;
text-decoration: none;
}

.box83{
width: 30%;
float: right;
height:auto;
padding-bottom: 1%;
padding-top: 5%;
color: #fff;
font-family:Verdana, sans-serif;
font-size: 1vw;
text-align: center;
text-decoration: underline;
}

.box84{
width: 30%;
height:auto;
padding-bottom: 1%;
padding-top: 5%;
color: #fff;
font-family:Verdana, sans-serif;
font-size: 1vw;
text-align: center;
text-decoration: none;
}

.box85{
width: 50%;
float: left;
height:100px;
color: #fff;
font-family:Verdana, sans-serif;
font-size: 1vw;
text-align: center;
text-decoration: none;
}



.box86{
width: 50%;
float: right;
height:auto;
padding-bottom: 1%;
padding-top:;
color: #fff;
font-family:Verdana, sans-serif;
font-size: 1vw;
text-align: center;
text-decoration: none;
background-color: ;
}


.box90{
margin: 0%;
padding-left:20%; 
width: 40%;
height:auto;
margin-top: 0%;
}


a{

	text-decoration: none;
}


.hej {
	float: right;
  color: #;
  font-size: 1em;
  width: 50%;
  height:auto;
  background:transparent;
    border-radius: 5px;
  border:1px;
  border-color: #fff;
  background-image:url(../pic(in.png); 

}



.hej-input {
  padding:;
  width: 100%;
  height:auto;
  font-family: arial;
  font-size: 1em;
  color: #fff;
  background:transparent;

}
