
.box79{
width:100%;
overflow: hidden;
height:auto;
margin-top:0%;
background:url(http://miacucina.com/mia/wp-content/uploads/2015/02/Closetsfurniture.jpg); ) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size:100%;
 background-repeat: no-repeat;
 max-width: initial;
 max-height: initial;
 padding-top:0%;
  padding-bottom:0%;
 background-position: center;
    border-top-left-radius:0%;
}
.box80{
width: 80%;
height:auto;
overflow: hidden;
 }

}
.box81{
width: 80%;
height:auto;
}


.box82{
width: 100%;
height:auto;
overflow: hidden;
color: #fff;
font-family:Verdana, sans-serif;
font-size: 0.8vw;
text-align: center;
text-decoration: ;
margin-bottom: 2%;
}

.box83{
width: 30%;
float:left;
height:auto;
padding-bottom: 1%;
padding-top: 5%;
color: #fff;
font-family:Verdana, sans-serif;
font-size: 0.8vw;
text-align: center;
text-decoration: ;
display:block;
}

.box84{
width: 30%;
float:right;
height:auto;
padding-bottom: 1%;
padding-top: 5%;
color: #fff;
font-family:Verdana, sans-serif;
font-size: 0.8vw;
text-align: center;
text-decoration: ;
display:block;
}

.box85{
width: 30%;
height:auto;
padding-bottom: 1%;
padding-top: 5%;
color: #fff;
font-family:Verdana, sans-serif;
font-size: 0.8vw;
text-align: center;
text-decoration: ;
display:block;
}



.box86{
width: 50%;
float: right;
height:auto;
padding-bottom: 1%;
padding-top:;
color: #fff;
font-family:Verdana, sans-serif;
font-size: 1vw;
text-align: center;
text-decoration: none;
background-color: ;
}


.box90{
margin: 0%;
padding-left:20%; 
width: 40%;
height:auto;
margin-top: 0%;
}

.box1001{
width:30%;
float: left;
height:auto;
}

.box1002{
width: 20%;
float:right;
height:auto;
padding-right:10%;
text-align:right;
}


a.two{

	text-decoration: none;
	color:#fff ;
font-size: 1vw;
    display: inline;



}

a.two:hover{

	text-decoration: none;
	color:#888 ;
font-family: arial;
}

a.three{

  text-decoration: none;
  color:#000 ;


}

a.three:hover{

  text-decoration: none;
  color:#888 ;

}





.hej {
	float: right;
	margin-top: 0%;
  color: #;
  margin-left: 0%;
  font-size: 0.8vw;
  width:55%;
  height:auto;
  background:transparent;
    border-radius: 5px;
  border:1px;
  border-color: #fff;
  background-image:url(../pic(in.png); 

}



.hej-input {
  padding:;
  width: 100%;
  height:auto;
  font-family: arial;
  font-size: 1em;
  color: #fff;
  background:transparent;

}

a{

	text-decoration: none;
  color: #fff;
}

a:hover{
  color: #888;
  text-decoration: none;
}



a.four{

  text-decoration: none;
  color:#fff ;


}



a.six{

  text-decoration: none;
  color: #fff;
}

a.six:hover{
  color: #888;
  text-decoration: none;
}
