.box1{
width: 90%;
height: auto;


}
.box2{
width: 70%;
height:auto;
background-color: #555;
float: left;

}

.box3{
width: 30%;
height:auto;
background-color: #888;
float: right;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;

}

li {
    float: left;
}

li a {
	height:0em;
    display: block;
    font-family: arial;
   font-size:0.9vw;
    color: #fff;
    text-align: center;
    padding: 1em 1em 2em 2em;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}


#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    display:inline-block;
}


#navigation li
{
}

#navigation li a
{
    height:0em;
    display: block;
    font-family: arial;
    font-size:0.8vw;
    color: #000;
    text-align: center;
    padding: 1em 1em 2em 2em;
    text-decoration: ;
}

#navigation li:hover a,
#navigation li a:hover
{
background-color: #000;
 color: #fff;
}


.image_full{
   display:block;
  }

 .image_mobile{
  display:none;
 }



@media (max-width: 640px) and (min-width: 320px){
  .image_full{
   display:none;
  }

  .image_mobile{
   display:block;
  }
  body,html{

    width: 100%;
  }
}
