.box1{
width: 80%;
height: auto;
background-color: #555;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
	height: 0.2em;
    display: block;
    font-family: arial;
    font-size: 50%;
    color: #fff;
    text-align: center;
    padding: 1em 1em 2em 2em;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

li a {
	height: 0.2em;
    display: block;
    font-family: arial;
    font-size: 50%;
    color: #fff;
    text-align: center;
    padding: 1em 1em 2em 2em;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

