body {
	
	background-color: #fff;
	margin-top: 0%;
}


.footer {
  position: absolute;
  right: 8;
  bottom: 0;
  left: 8%;
  padding: 1rem;
 width: 80%;
  background-color: #efefef;
  text-align: center;
}